# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Data
data/
outputs/
*.csv
*.xlsx


#old code
other/
.Rproj.user
SMD/
03.1 .survival analysis_ITT_crude.do
09.sens_ana including triglyceride.do